.nav {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    border-bottom: solid black 2px;
    background-color: grey;
} .nav > div {
    margin-top: 26px;
}

.links > a > span {
    margin-left: 23px;
    color: white;
    font-size: 20px;
    font-weight: 400;
}
.links > a > span:hover {
    color: black;
}