.titleImage {
    background-image: url("../public/img/title.png");
    height: 900px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.titleText {
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
    color: white;

    text-align: center;
    padding: 385px 0;
}
